<%=form_for @article do |f| %>
<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit %>
  <!-- Skad Rails wie że ma teraz utworzyć artykuł ? ? ?
    Rails został tak napisany aby samemu się domyślać co ma zostać zrobione,
  zobacz sam ze nie nadaliśmy nazwy dla tego przycisku a na stronie wyświetla
się on jako 'Create article', wyglada na to ze metoda .subit po prostu słurzy do
  przeniesienia sie na akcję article create
end-->
</p>
<% end %>

<p>
<%= link_to 'Return to index-list',articles_path%>
<%= link_to 'Create new article',new_article_path%>
</p>
