<h1>Idnex of entries </h1>

<p><%=link_to 'New Article',new_article_path %></p>
<!-- table->tr-th -->
<table>
  <!-- Tutaj ciekawe zastosowanie, tworzymy table ustawiamy wiersze tytulowe, a potem puszczamy petle przez zmienna articles i uzupelniamy kolejne zedy tabelki jej wartosciami (zmiennej)dodatkowo dodane sa dwa pola z linkami do edycji i wyswietlenia wartości wpisu. -->
  <tr>
    <th>Title</th><th>Description</th>
  </tr>
    <%@articles.each do |article|%>
  <tr>
      <td><%=article.title%></td>
      <td><%=article.description%></td>
      <td><%=link_to 'Edit', edit_article_path(article)%></td>
      <td><%=link_to 'Show', article_path(article)%></td>
      <td><button class="btn btn-danger"><%=link_to 'Delete', article_path(article),method: :delete,data:{confirm:"Are you sure ?"}%></button></td>

    <%end%>
  </tr>
</table>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
